version: '2'

services:
  web:
    image: ac0v/contao:4.4-alpine
    restart: always
    ports:
      - 80
    depends_on:
      - mariadb
    links:
      - mariadb
    volumes:
      - contao-app:/app

  mariadb:
    image: bitnami/mariadb:10.1.28-r0
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${db_root_password}
      MARIADB_DATABASE: ${db_name}
      MARIADB_USER: ${db_username}
      MARIADB_PASSWORD: ${db_password}
    volumes:
      - contao-mariadb:/var/lib/mysql/

  sftp:
    image: atmoz/sftp:alpine-3.6
    restart: always
    depends_on:
      - web
    ports:
      - 22
    command: ${sftp_username}:${sftp_password}:1000:101
    volumes:
      - contao-app:/home/${sftp_username}/app

volumes:
    contao-app:
      driver: local
    contao-mariadb:
      driver: local
